/* Nav Bar styling */
/* Would greatly appreciate if there is some way to fix the animation i want it to be exactly as the main index 
but I can not get it to work since i used li elements to style before...*/
header {
  background-color: #55d6aa;
}
header::after {
  content: '';
  display: table;
  clear: both;
  
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  height: auto;
  margin: 0 auto;
}
.navButtons {
  display: inline-block;
  margin-left: 70px;
  padding-top: 20px;
  
}

nav {
  float: right;
}

.navButtons a {
 
  text-decoration: none;
  color: #444;
  position: relative;
  
}
.navButtons::before {
  content: '';
  display:  block;
  height: 5px;
  width: 100%;
  background-color: #444;
  position: relative;
  top: 0;
  width: 0%;
  
  transition: all ease-out 250ms;
}
.navButtons:hover::before {
  width: 100%;
  /* transition: width 0.3s; */
}

/* Style page below */
/* Original todo list css */

body {
  background-color: lightcyan;
}
h1 {
    color:cyan;
    text-align: center;
}
h4 {
    font-size: 20px;
    padding-left: 20px;
    color: darkblue;
    border-bottom: grey 2px solid;
}
button {
    background-color: darkgoldenrod;
    color: white;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 12px;
}
li {
    font-size: 18px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 5px;
}
li:hover {
    opacity: 0.7;
    }