#top {
    background-color: green;
    border: 5px greenyellow solid;
    display: flex;
    justify-content: space-evenly;
    }
    
    .Logo {
      width: 100px;
      height: 100px;
      float: left;
      
    }

    h1 {
        color: white;
        text-align: center;
        
    }
    body {
      background-color: lightcyan;
    }
    #contactPage {
      text-align: center;

    }